<!-- carousel -->
<div  class=" container" class="espaciado">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        
        <div class="carousel-inner" >
          <div class="carousel-item active">
            <img src="../../../assets/images/10.jpg"  width="100%" height="420" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/11.jpg"   width="100%" height="420" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/12.jpg" width="100%" height="420" alt="...">
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    
      </div>
    </div>
    
    <!-- fin carousel -->


    <!-- inicio main -->

    <h3 class="centrar" >Productos</h3>
    
    <app-card-product></app-card-product>
    
  
      
  
  <!-- fin main -->

  <!-- inicio article -->
  <div class="card bg-dark text-white" class="espaciado">
    <img src="../../../assets/img/banner.webp"  width="100%" height="300"  alt="...">
    
  </div>
  <!-- fin article -->

  <app-footer></app-footer>



