<app-sidebar></app-sidebar>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container-fluid">
      <div class="header">
        <h1 class="header-title">Editar usuario</h1>
      </div>
      <div class="tab-content" id="myTabContent">
        <div class="col-12 col-lg-12" *ngIf="mensajeExito">
          <div class="alert alert-info alert-dismissible" role="alert">
            <div class="alert-message">
               {{ mensajeExito }} 
            </div>
   
            <button
              type="button"
              class="close"
              (click)="cerrarError()"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">X</span>
            </button>
          </div>
        </div>
        <div class="tab-content" id="myTabContent">
          <div class="col-12 col-lg-12" *ngIf="mensajeError">
            <div class="alert alert-danger alert-dismissible" role="alert">
              <div class="alert-message">
                {{ mensajeError }}
              </div>
   
              <button
                type="button"
                class="close"
                (click)="cerrarError()"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">X</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist"></ul>
   
            <form #userForm="ngForm" (ngSubmit)="ediUser(userForm)">
              <div
                class="tab-pane fade show active"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <div class="card">
                  <div class="card-body">
                    <div class="row mt-4">
                      <div class="col-lg-8">
                        <div class="row">
                          <div class="col-lg-9 form-group">
                            <label><b>Nombres</b></label>
                            <input
                              type="text"
                              class="form-control"
                              autocomplete="new-text"
                              placeholder="nombre"
                              name="names"
                              #names="ngModel"
                              [(ngModel)]="user.names"
                              required
                            />
                          </div>
                          <div class="col-lg-9 form-group">
                            <label><b>apellidos</b></label>
                            <input
                              type="text"
                              class="form-control"
                              autocomplete="new-text"
                              placeholder="apellidos"
                              name="lastName"
                              #lastName="ngModel"
                              [(ngModel)]="user.lastName"
                              required
                            />
                          </div>
  
                          <div class="col-lg-9 form-group">
                            <label><b>Edad</b></label>
                            <input
                              type="number"
                              class="form-control"
                              placeholder="edad"
                              name="age"
                              #age="ngModel"
                              [(ngModel)]="user.age"
                              required
                            />
                          </div>
                         
                          <div class="col-lg-9 form-group">
                            <div class="form-group">
                              <label class="form-label"> <b> correo </b></label>
                              <input
                              type="text"
                              class="form-control"
                              autocomplete="new-text"
                              placeholder="correo"
                              name="email"
                              #email="ngModel"
                              [(ngModel)]="user.email"
                              required
                            />
                          </div>
                            
                           
                          </div>
                              
                              
                          <div class="col-lg-9 form-group">
                            <label><b>Nueva contraseña </b></label>
                            <input
                              type="password"
                              class="form-control"
                              placeholder="escribe nueva contraseña"
                              name="pass"
                              #pass="ngModel"
                              [(ngModel)]="user.passText"
                            /> <!-- user.passText es una variable vacia para que no muestre nada -->
                          </div>
  
                         
                          
                         <div class="col-lg-9 form-group" *ngIf="identity.role == 'ADMIN'">
                            <label><b>rol</b></label>
                            <select class="form-select" aria-label="Default select example"type="text"
                            class="form-control"
                            autocomplete="new-text"
                            placeholder="rol"
                            name="role"
                            #role="ngModel"
                            [(ngModel)]="user.role"
                            required>
                              <option selected>Seleccionar</option>
                              <option value="ADMIN">ADMIN</option>
                              <option value="USER">USER</option>
                            </select>
                          </div>
                         <div class="col-lg-9 form-group">
                            <label><b>dirección</b></label>
                            <input
                              type="text"
                              class="form-control"
                              autocomplete="new-text"
                              placeholder="dirección"
                              name="address"
                              #address="ngModel"
                              [(ngModel)]="user.address"
                              required
                            />
                          </div>
                          <div class="col-lg-9 form-group">
                            <label><b>telefono</b></label>
                            <input
                              type="text"
                              class="form-control"
                              autocomplete="new-text"
                              placeholder="telefono"
                              name="phoneNumber"
                              #phoneNumber="ngModel"
                              [(ngModel)]="user.phoneNumber"
                              required
                            />
                          </div>
                                                  
                          <div class="col-lg-12 form-group">
                            <button class="btn btn-primary btn-lg" type="submit">
                              Actualizar 
                            </button>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
